{% comment %}
    https://finixwear.com/ Prestige 5.7
{% endcomment %}
<style>
   #shopify-section-{{ section.id }} .SectionHeader:not(:only-child) {
    margin-bottom: 40px;
}
    .content-area, .collection-title-header {
    position: relative;
    display: block;
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo-list {
    font-size: 0;
    text-align: center;
}
.home-section {
    position: relative;
    padding-top: 65px;
    margin-top: 65px;
}
.home-section.has-heading {
    padding-top: 50px;
    padding-bottom: 50px;
}
.home-section.has-border::before {
    position: absolute;
    top: 0;
    display: block;
    width: calc(100% - 30px);
    border-top: 1px solid #e3e3e3;
    content: "";
}
.section-title {
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 45px 0 0;
    margin: 0 0 45px;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #5d5b62;
    text-align: center;
    text-transform: uppercase;
}
.home-section > .section-title {
    padding-top: 0;
}
.home-section.has-border > .section-title {
    padding-top: 0;
}
.logo-list-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logo-list-item {
    display: inline-block;
    padding: 10px 20px;
    vertical-align: middle;
}
.rows-of-5 .logo-list-item {
    width: 20%;
}
.rows-of-5 .logo-list-item {
    width: 25%;
}
.logo-list-item .logo-list-item-wrap {
    max-width: 240px;
    margin: 0 auto;
}
.logo-list-item img, .logo-list-item svg {
    max-width: 100%;
    width: 100%;
}
@media screen and (max-width:750px) {
    .rows-of-5 .logo-list-item {
        width: 50%;
    }
}
</style>
<div data-section-id="{{ section.id }}" data-section-type="logo-list"><section class="home-section logo-list clearfix rows-of-5 content-area
    has-heading
    has-border">
    <header class="SectionHeader SectionHeader--center ">
        <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.heading_text }}</h2>
    </header>
    <div class="logo-list-container">
        {% for block in section.blocks %}
            <div class="logo-list-item">
                <div class="logo-list-item-wrap">
                    {% assign image_url = block.settings.logo_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {% if block.settings.logo_link != blank %}
                    <a href="{{ block.settings.logo_link }}" target="_blank" rel="noopener noreferrer">
                    {% endif %}


                        {% if block.settings.logo_image != blank %}
                        <img class="Image--lazyLoad hide-no-js"
                            data-src="{{ image_url }}"
                            data-optimumx="1.2"
                            data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                            data-sizes="auto"
                            alt="{{ block.settings.logo_image.alt | escape }}">

                        <noscript>
                        <img class="Slideshow__Image" src="{{ block.settings.logo_image | img_url: '1000x' }}" alt="{{ block.settings.logo_image.alt | escape }}">
                        </noscript>
                        {% else %}
                            {{ 'image' | placeholder_svg_tag }}
                        {% endif %}
                    {% if block.settings.logo_link != blank %}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

    </div>

</section>
{% schema %}
    {
      "name": "Logo List",
      "settings": [
        {
        "type": "text",
        "label": "Heading Text",
        "id": "heading_text",
        "default": "we've been featured."
        }
      ],
      "blocks": [
        {
        "type": "logo_item",
        "name": "Logo Item",
        "settings": [
            {
            "type": "image_picker",
            "label": "Logo Image",
            "id": "logo_image"
            },
            {
            "type": "url",
            "label": "Logo Link",
            "id": "logo_link"
            }
        ]
        }
      ],
      "presets": [
        {
          "name": "Logo List",
          "blocks": [
            {
            "type": "logo_item"
            },
            {
            "type": "logo_item"
            },
            {
            "type": "logo_item"
            },
            {
            "type": "logo_item"
            }
          ]
        }
      ]
    }
{% endschema %}
