            
% comment %}
          https://finixwear.com/ Prestige 5.7 (product-form.liquid)
      {% endcomment %}
{% if product.metafields.custom.swatch_products.value != blank %}
              {%- for value in option.values -%}
                {%- assign downcase_value = value | downcase -%}

                <li class="HorizontalList__Item custom-t">
                  <input id="option-{{ section.id }}-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}" class="ColorSwatch__Radio" type="radio" name="option-{{ forloop.parentloop.index0 }}" value="{{ value | escape }}" {% if value == option.selected_value %}checked="checked"{% endif %} data-option-position="{{ option.position }}">
                  <label for="option-{{ section.id }}-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}" class="ColorSwatch ColorSwatch--large {% if downcase_value == 'white' %}ColorSwatch--white{% endif %}" data-tooltip="{{ value | escape }}" style="{% render 'color-swatch-style', color_swatch_config: color_swatch_config, value: value %}">
                    <span class="u-visually-hidden">{{ value }}</span>
                  </label>
                </li>
              {%- endfor -%}
              {%- for swatch in product.metafields.custom.swatch_products.value -%}

                {%- for option in swatch.options_with_values -%}
                  {%- assign downcase_swatch_option = option.name | downcase -%}
                  {% if color_label contains downcase_swatch_option  %}
                    {%- for swatch_value in option.values -%}
                      {% assign swatch_value = swatch_value %}
                      {%- assign swatch_downcase_value = swatch_value | downcase -%}
                    {%- endfor -%}  
                  {% endif %}

                {%- endfor -%}

                <li class="HorizontalList__Item custom-t">
                  <a href="{{ swatch.url }}">
                    <input id="option-{{ section.id }}-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}" class="ColorSwatch__Radio" type="radio" name="option-{{ forloop.parentloop.index0 }}" value="{{ swatch_value | escape }}">
                    <label for="option-{{ section.id }}-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}" class="ColorSwatch ColorSwatch--large {% if swatch_downcase_value == 'white' %}ColorSwatch--white{% endif %}" data-tooltip="{{ swatch_value | escape }}" style="{% render 'color-swatch-style', color_swatch_config: color_swatch_config, value: swatch_value %}">
                      <span class="u-visually-hidden">{{ swatch_value }}</span>
                    </label>
                  </a>
                </li>
              {%- endfor -%}
            {% else %}

{% endif %}
